/**
 * @author Olivier Papineau <olivier.12.papineau@gmail.com>
**/

.conteneur-fluid{
  width: 100%;
}

.conteneur{
  max-width: $desktop;
  margin: 0 auto;
}

noscript{
  p{
    width: 100%;
    background-color: $rouge;
    text-align: center;
    color: white;
    font-family: $policeTitres;
    @include fontSize(20px);
    margin: 0;
  }
}

main{
  margin-top: 100px;
}

html, body{
  //height: 100%;
  //overflow: auto;
}