/**
 * @author Prénom Nom courriel
 * @todo ADAPTER ce fichier selon le projet
**/

/**
 * --------------------------------------------------------
 * TABLE DES MATIÈRES - Typographie responsive (Mobile First)
 * --------------------------------------------------------
 * Base décimale
 * Hiérarchie responsive
 */

/** Importation des polices **/
@import url('https://fonts.googleapis.com/css?family=Lato|Playfair+Display&display=swap');

/** Base décimale **/
html{
  font-size: 62.5%;
}
body {
  /* 16px pour toutes les largeurs d'écran */
  @include fontSize(16px);
  /* facteur multiplicateur de la taille de la police 1.375x16 = 22 */
  line-height: 1.375;

  @media (min-width: $TABLETTE) {
    line-height: 1.5;
  }
}

/** Hiérarchie responsive **/
/*  plus proche = plus petit  &  plus loin = plus grand */

h1, h2 {
  font-family: $policeTitres;
  font-weight: 900 !important;
}

h3, h4, h5 {
  font-weight: bold !important;
}

body, p, span, input, label, a, h3, h4, h5{
  font-family: $policeCorps;
}

label{
  @include fontSize(24px);
}

a {
  color: $ROUGE;
  text-decoration: none;
  transition: 0.15s ease-in-out;

  &:hover, visited{
    color: $rouge;
  }
}


/* TITRES NIVEAU 1 */
h1,
.h1 { /* = 32px */
  @include fontSize(50px);
}

/* TITRES NIVEAU 2 */
h2,
.h2 { /* = 24px */
  @include fontSize(32px);
}
@media (min-width: $tablette) {
  h2,
  .h2 { /* = 32px */
    @include fontSize(36px);
  }
}

/* TITRES NIVEAU 3 */
h3,
.h3 { /* = 18px */
  @include fontSize(21px);
}
@media (min-width: $tablette) {
  h3,
  .h3 {  /* = 24px */
    @include fontSize(28px);
  }
}

/* TITRES NIVEAU 4 */
h4,
.h4 { /* = 16px */
  @include fontSize(16px);
}
@media (min-width: $tablette) {
  h4,
  .h4 { /* = 18px */
    @include fontSize(18px);
  }
}

@media (min-width: $desktop) {
  h4,
  .h4 { /* = 22px */
    @include fontSize(22px);
  }
}