.catalogue {
  &__affichage {
    display: none;

    @media(min-width: $DESKTOP-NORMAL) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__auteurs {
    list-style-type: none;
    color: $BLANC;
    padding: 0;
    font-size: 18px;
    @media(min-width: $DESKTOP-NORMAL) {
      color: $BEIGE;
    }

  }

  &__btn {
    background-color: $TURQUOISE;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 50px;

    &:hover {
      text-decoration: none;
    }

    &--ajouterPanier {
      margin: 10px;
      display: inline-block;

      &:hover {
        background-color: darken($TURQUOISE, 5);
        color: $BLANC;
      }
    }

    &--categories {
      margin: 8px;

      &:hover {
        color: white;
        background-color: darken($TURQUOISE, 5);
      }
    }

    &--enSavoirPlus {
      color: black;
      background-color: $PEAU;
      margin: 10px;
      display: inline-block;

      &:hover {
        color: black;
        background-color: darken($PEAU, 5);
      }
    }

    &--reinitialiser {
      color: white;

      &:hover {
        color: white;
        background-color: darken($TURQUOISE, 5);
      }
    }
  }

  &__categories {
    background-color: #EEEEEE;
    display: none;

    &__liste {
      list-style-type: none;
      padding: 0;
    }

    &__lien {
      color: black;
      &:hover {
        color: $ROUGE;
        text-decoration: none;
      }
    }

    @media(min-width: $TABLETTE) {
      display: inline;
    }
  }

  &__couverture {
    width: 100%;
  }

  &__lesLivres {

  }

  &__lien {
    padding-left: 10px;
    color: $ROUGE;
    text-decoration: underline;

    &--actif {
      color: black;
      pointer-events: none;
      cursor: default;
      text-decoration: none;
    }
  }

  &__livre {
    list-style-type: none;
    background-color: $GRIS_FONCE;
    width: 100%;
    margin-bottom: 5%;

    &__titreEtAuteur {
      padding-left: 5%;
      margin-top: 5%;
    }

    &__boutons {
      display: grid;
      text-align: center;
      margin: 5% 5%;
    }
  }

  &__nbParPages {

  }

  &__rangee--1 {

  }

  &__rangee--2 {
    margin-bottom: 5%;
  }

  &__rechercher {
    display: none;
  }

  &__titre {
    color: white;
    font-size: 24px;

    &:hover {
      color: $ROUGE;
      text-decoration: none;
    }

  }

  @media (min-width: $DESKTOP-NORMAL) {
    .dropbtn {
      display: none;
    }
    &__rechercher {
      display: inline;
    }
  }
}

// CATÉGORIES
.dropbtn {
  background-color: $TURQUOISE;
  color: white;
  padding: 10px 32px;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  @media (min-width: $TABLETTE) {
    display: none;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $GRIS_PALE;
  min-width: 360px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {
  display: block;
}