.catalogue {
  &__auteurs {
    list-style-type: none;
    color: $BLANC;
    font-size: 18px;
    padding-left: 15px;
    @media(min-width: $DESKTOP-NORMAL) {
      color: $BEIGE;
      font-size: 16px;
      padding: 0;
      margin: 0;
    }
  }

  &__btn {
    background-color: $TURQUOISE;
    color: white;
    padding: 8px 50px;
    font-size: 16px;
    border: none;
    border-radius: 50px;

    &:hover {
      text-decoration: none;
    }

    &--ajouterPanier {
      &:hover {
        background-color: darken($TURQUOISE, 5);
        color: $BLANC;
      }

      @media(min-width: $DESKTOP-NORMAL) {
        padding: 2px 8px;
        font-size: 14px;
        margin-top: 5px;
      }

    }

    &--categories {
      margin: 8px;

      &:hover {
        color: white;
        background-color: darken($TURQUOISE, 5);
      }
    }

    &--enSavoirPlus {
      color: black;
      background-color: $PEAU;
      display: inline-block;
      margin-bottom: 20px;

      &:hover {
        color: black;
        background-color: darken($PEAU, 5);
      }

      @media(min-width: $DESKTOP-NORMAL) {
        padding: 2px 8px;
        font-size: 14px;
        margin: 0;
      }
    }

    &--form {
      display: inherit;
    }

    &--reinitialiser {
      color: white;
      width: 70%;
      text-align: center;
      margin-left: 15%;
      margin-top: 5%;
      margin-bottom: 5%;

      &:hover {
        color: white;
        background-color: darken($TURQUOISE, 5);
      }

      @media(min-width: $DESKTOP-NORMAL) {
        padding: 2px 50px;
        font-size: 14px;
      }
      @media(min-width: $DESKTOP-LARGE){
        padding: 2px 74px;
      }
    }
  }

  &__categories {
    background-color: #EEEEEE;
    display: none;

    &__contenu {
      margin-left: 5%;
    }

    @media(min-width: $DESKTOP-NORMAL) {
      display: inline;
    }

    &__titre {
      padding: 10%;
    }

    &__liste {
      list-style-type: none;
      padding: 0;
      margin-top: 10%;

      &__item {
        margin-bottom: 5%;
      }
    }

    &__lien {
      color: black;

      &:hover {
        color: $ROUGE;
        text-decoration: none;
      }
    }
  }

  &__couverture {
    width: 100%;
    @media(min-width: $DESKTOP-NORMAL) {
      width: 100%;
      height: 100%;
      position: relative;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  &__foreground {
    display: none;
    @media(min-width: $DESKTOP-NORMAL) {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5);
      width: 210px;
      height: 100%;
      z-index: 1;
      margin-left: 15px;
    }
    @media(min-width: $DESKTOP-LARGE) {
      width: 255px;
    }
  }

  &__lesLivres {
    @media(min-width: $DESKTOP-NORMAL) {
      margin-bottom: 10px;
    }
  }

  &__lien {
    padding-left: 10px;
    color: $ROUGE;
    text-decoration: underline;

    &--actif {
      color: black;
      pointer-events: none;
      cursor: default;
      text-decoration: none;
    }

  }

  &__livre {
    list-style-type: none;
    width: 100%;
    margin-bottom: 5%;
    height: 350px;
    background-image: linear-gradient(to right, $GRIS_FONCE, #555);

    @media(min-width: $DESKTOP-NORMAL) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      top: 5%;
      left: 10%;
      width: 80%;
      height: 90%;
      z-index: 11;
      background-image: none;
    }

    &__titreEtAuteur {
      padding-left: 5%;
      padding-top: 5%;
      @media(min-width: $DESKTOP-NORMAL) {
        padding: 0;
        margin: 0;
      }
    }

    &__boutons {
      display: grid;
      text-align: center;
      margin: 5% 5%;
    }
  }

  &__nbParPages {
    font-size: 16px;
    padding-left: 5%;

    &__label {
      @media(min-width: $DESKTOP-NORMAL) {
        padding-left: 50px;
      }
    }
  }

  &__pagination {
    margin-bottom: 2%;
    margin-left: 20px;
    margin-top: 23px;
    @media(min-width: $DESKTOP-NORMAL) {
      margin-top: 15px;
      margin-left: 60px;
    }
  }

  &__prix {
    font-size: 42px;
    color: white;
    @media(min-width: $DESKTOP-NORMAL) {
      font-size: 16px;
    }
  }

  &__rechercher {
    display: none;
    @media (min-width: $DESKTOP-NORMAL) {
      height: 25px;
      display: inline;
      margin-left: 10px;
    }
  }

  &__titre {
    color: white;
    font-size: 24px;

    &:hover {
      color: $ROUGE;
      text-decoration: none;
    }

    @media(min-width: $DESKTOP-NORMAL) {
      font-size: 20px;
    }
  }

  &__trier {
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 5%;

    &__label {
      margin-left: 10px;
    }

    &--select {
      @media(min-width: $DESKTOP-NORMAL) {
        height: 25px;
        margin-left: 3px;
      }
    }
  }

}

// CATÉGORIES
.dropbtn {
  display: inline;
  background-color: $TURQUOISE;
  color: white;
  padding: 10px 100px;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  margin-left: 30%;
  @media(min-width: $TABLETTE) {
    margin-left: 0;
  }

  @media (min-width: $DESKTOP-NORMAL) {
    display: none;
  }
}

.dropdown {
  position: relative;
  display: inline;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $GRIS_PALE;
  min-width: 360px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: 20%;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {
  display: block;
}