.facturation {
  &__etape {
    display: flex;

    &__actif {
      font-size: 18px;
      background-color: $ROUGE;
      color: $BLANC;
      border-radius: 10px;
      margin-right: 10px;
      padding: 5px 10px;
    }

    &__non-actif {
      color: $GRIS_FONCE;
      margin-right: 10px;
    }
  }

  &__radio {
    display: flex;
    justify-content: space-around;

    &--input {
      //position: absolute;
      //opacity: 0;
      //width: 0;
      //height: 0;
      &:checked + label {
        border-bottom: $ROUGE 1px solid;
      }
    }

    &--label {
      width: 46px;
      cursor: pointer;

      &:checked {
        border-bottom: $ROUGE 1px solid;
      }
    }


  }

  //.radio_item{
  //  display: none !important;
  //}
  //
  //.label_item {
  //  opacity: 0.1;
  //}
  //
  //.radio_item:checked + label {
  //  opacity: 1;
  //}
  //
  //label {
  //  cursor: pointer;
  //}
  &__methodesPaiement {
    display: flex;
    justify-content: space-around;
  }

  &__methode {
    width: 42px;
  }
}