.facturation {
  &__etape {
    display: flex;

    &__actif {
      font-size: 18px;
      background-color: $ROUGE;
      color: $BLANC;
      border-radius: 10px;
      margin-right: 10px;
      padding: 5px 10px;
    }

    &__non-actif {
      color: $GRIS_FONCE;
      margin-right: 10px;
    }
  }

  &__radio {
    display: flex;
    align-items: baseline;
    margin-top: 3%;

    &--label {
      margin-left: 1%;
    }
  }

  &__methodesPaiement {
    display: flex;
    justify-content: space-around;
  }
  &__methode {
    width: 42px;
  }
}