.facturation {
  &__etape {
    display: flex;

    &__actif {
      font-size: 18px;
      background-color: $ROUGE;
      color: $BLANC;
      border-radius: 10px;
      margin-right: 10px;
      padding: 5px 10px;
    }

    &__non-actif {
      color: $GRIS_FONCE;
      margin-right: 10px;
    }
  }

  &__radio {
    display: flex;
    justify-content: space-around;
    min-height: 50px;

    &--input {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;

      &:checked + label {
        filter: grayscale(0);
        border-radius: 50px;
      }
    }

    &--label {
      min-width: 46px;
      min-height: 46px;
      height: 46px;
      width: 46px;
      cursor: pointer;
      filter: grayscale(1);
      transition: 0.2s;
    }
  }

  &__methodesPaiement {
    display: flex;
    justify-content: space-around;
  }

  &__methode {
    width: 42px;
  }
}