.js{
  .lienSupprItemScript{
    display: block !important;
  }

  .lienSupprItemNoScript{
    display: none !important;
  }

  .updatePanier{
    display: none;
  }
}

.panier{
  &__resumeCourt{
    display: none;

    @media(max-width: $DESKTOP-NORMAL){
      display: block;
      background-color: $GRIS_PALE;
      padding: 3%;
    }

    .sous-total{
      display: flex;
      justify-content: space-between;

      &__texteDroit{
        font-weight: bold;
      }
    }

    .texteLivraisonGratuite{
      color: $TURQUOISE;
    }

    .btnCommander {
      display: block;
      margin: 0 auto;
      text-align: center;
      padding-top: 1%;
      width: 80%;
      height: 36px;
      border: 2px solid $TURQUOISE;
      border-radius: 35px;
      @include fontSize(16px);
      color: white;
      font-weight: bold;
      background-color: $TURQUOISE;

      &:hover {
        color: white !important;
        text-transform: none;
        background-color: $BEIGE;
        border: 2px solid $BEIGE;
      }
    }
  }

  .infosLivraison{
    color: $ROUGE;

    &__titre{
      font-weight: bold;
    }
  }

  &__items{
    margin-bottom: 5%;

    &__item{
      border-bottom: 2px solid #000;
      position: relative;
      padding: 2% 0 5% 0;

      @media(min-width: $DESKTOP-NORMAL){
        padding: 2% 0;
      }

      &:last-child{
        border-bottom: 0;
      }

      /**
       * Sections des items pour diviser la fiche de l'item
       */
      .section{
        &Gauche {
          display: flex;

          &__image {
            display: block;
            width: 100%;
            max-width: 150px;
            margin-right: 15px;

            @media(min-width: $TABLETTE){
              max-width: 100%;
              width: 150px;
              margin-right: 0px;
            }

            img {
              max-width: 100%;
            }
          }

          &__contenuMobile{
            display: block;

            @media (min-width: $TABLETTE){
              display: none;
            }

            .infosLivre{
              &__titreLivre{
                a{
                  color: black !important;
                }
              }

              &__auteurLivre{
                color: $ROUGE;
              }
            }
          }
        }

        &Centre{
          @media(min-width: $TABLETTE){
            padding-left: 0;
          }

          .infosLivre{
            display: none;

            @media(min-width: $TABLETTE){
              display: block;
            }

            &__titreLivre{
              a{
                color: black;
              }
            }

            &__auteurLivre{
              color: $ROUGE;
            }

            &__btnSupprimer{
              color: red;

              .lienSupprItemNoScript{
                display: block;
                color: red !important;
              }

              .lienSupprItemScript{
                display: none;
                background: none;
                border: none;
                padding: 0;

                &:focus{
                  outline: none;
                }

                &:hover{
                  cursor: pointer;
                }
              }
            }
          }

          form{
            label{
              @include fontSize(18px);
              font-weight: bold;
            }

            .boutons{
              width: 60%;

              @media(min-width: $TABLETTE){
                width: 100%;
              }

              .select{
                display: block;

                select{
                  width: 100%;
                  height: 36px;
                  appearance: none;
                  padding: 5px 12px;
                  border-radius: 35px;
                  margin-bottom: 2%;
                  position: relative;
                  transition: 0.15s ease-in-out;
                  border: 2px solid lightgrey;

                  &:hover, &:focus{
                    border: 2px solid $TURQUOISE;
                  }
                }

                &::after{
                  content: "▼";
                  color: white;
                  @include fontSize(22px);
                  line-height: 38px;
                  padding-left: 9px;
                  position: absolute;
                  border-radius: 35px;
                  right: 11px;
                  width: 36px;
                  height: 36px;
                  background-color: #008571;
                  pointer-events: none;
                }


              }

              .updatePanier{
                margin: 0 3%;
                height: 36px;
                border: 2px solid $TURQUOISE;
                border-radius: 35px;
                color: white;
                font-weight: bold;
                background-color: $TURQUOISE;
                transition: 0.15s ease-in-out;

                @media(min-width: $TABLETTE){
                  margin: 0;
                }

                &:hover{
                  background-color: transparent;
                  color: $TURQUOISE;
                }
              }
            }
          }

        }

        &Droite{
          width: 45%;
          text-align: right;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          position: absolute;
          right: 0;
          bottom: 10px;

          @media(min-width: $TABLETTE){
            position: initial;
          }

          .prixLivre{
            @include fontSize(22px);
            font-weight: bold;
          }
        }
      }
    }
  }

  &__infosPanier{
    position: relative;

    .contenu{
      position: sticky !important;
      margin-top: 2%;
      padding: 5%;
      top: 12%;
      border: 1px solid black;
      //max-height: 450px;
      margin-bottom: 5%;

      .h2{
        @include fontSize(18px);
        margin-bottom: 5%;
      }

      .fraisLivraironSelect{
        display: flex;
        justify-content: space-between;

        label{
          font-weight: normal;
          @include fontSize(16px);
        }
      }

      p{
        display: flex;
        justify-content: space-between;

        .texteDroit{
          font-weight: bold;
        }
      }

      .fraisLivraison{
        .texteDroit{
          .fraisCaches{
            display: none;
          }
        }
      }

      .dateLivraisonEstimee{
        display: flex;
        flex-direction: column;
        margin-top: 2%;

        .date{
          font-weight: bold;
        }

        .dateCachee{
          display: none;
        }
      }


      .zoneBoutons{
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 15%;

        .btn{
          max-width: 250px;
          width: 90%;
          height: 36px;
          margin-bottom: 5%;
          border: 2px solid $TURQUOISE;
          border-radius: 35px;
          @include fontSize(16px);
          color: $TURQUOISE;
          font-weight: bold;

          @media(min-width: $DESKTOP-NORMAL){
            width: 100%;
          }

          &Commander{
            color: white;
            background-color: $TURQUOISE;

            &:hover{
              background-color: $BEIGE;
              border: 2px solid $BEIGE;
              color: white !important;
            }
          }

          &ViderPanier:hover{
            color: $BEIGE !important;
            border: 2px solid $BEIGE;
          }
        }
      }
    }
  }
}
