/**
 * @author Prénom Nom courriel
**/

/**
 * ------------------
 * TABLE DES MATIÈRES
 * ------------------
 * BIBLIOTHÈQUES (dans le dossier bower_components)
 ** Normalize
 ** Susy
 * UTILITAIRES
 ** variables
 ** mixins
 * BASE
 ** Charte typographique responsive
 *
 * ...
 */
/*** Utilitaires ***/
@import "utilitaires/mixins";
@import "utilitaires/variables";

//Hamburger Menu
$hamburger-layer-color: #FFE9D0;
$hamburger-layer-height: 1px;
$hamburger-layer-spacing: 10px;
@import "../../../node_modules/hamburgers/_sass/hamburgers/hamburgers";

/*** Base ***/
@import "base/typo";

/*** Normalize ***/
@import '../../../node_modules/normalize.scss/normalize';

/*** Modules ***/
@import "modules/general";
@import "modules/header";
@import "modules/footer";
@import "modules/boutons";

/*** Pages ***/
@import "pages/accueil";
@import "pages/catalogue";
@import "pages/fiche";
@import "pages/panier";
@import "pages/transaction";
@import "pages/livraison";
@import "pages/facturation";
@import "pages/validation";
@import "pages/inscription";
@import "pages/connexion";
@import "pages/confirmation";
